
body {
  margin: 0;
  padding: 0;
  background-color: #515DEF;
  background-image: url(../img/people_img.png);
  background-repeat: no-repeat;
  background-position: top right -100px;
  background-size: 50%;
  font-family: "Poppins", serif;
  color: #FBFBFB;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 40px;
}

header {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-bottom: 80px;
}

.primary {
  width: 100%;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 60px;
}

header nav ul a {
  text-decoration: none;
  height: 400;
  color: #FBFBFB;
  font-size: 14px;
}

nav.primary ul a:hover {
  text-decoration: overline underline;
}

header nav ul li:last-child {
  margin-left: auto;
}

nav.primary ul li:last-child a {
  padding: 15px 15px;
  background-color: #515DEF;
  color: #FBFBFB;
  text-decoration: none;
}

nav.primary ul li:last-child a:hover {
  background-color: #FBFBFB;
  color: #515DEF;
}

.hero {
  width: 55%;
}

.hero h1 {
  height: 700;
  font-size: 50px;
  margin-top: 10px;
  line-height: 60px;
  margin-bottom: 20px;
}

.hero .tittle {
  margin-bottom: 0;
}

.hero .subtittle {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 40px;
}

.hero_section a {
  text-decoration: none;
  color: #333333;
  padding: 4px 10px;
  background-color: #FBFBFB;
  align-items: center;
  display: inline-flex;
  margin-bottom: 50px;
}

.categories {
  display: flex;
  width: 70%;
}

.categories article {
  background-color: #FBFBFB;
  padding: 40px 20px;
  width: 250px;
}

.categories article .tittle {
  color: #333333;
  font-weight: 700;
  font-size: 12px;
}

.categories article .description {
  color: #909090;
  font-weight: 400;
  font-size: 12px;
}

.categories article img {
  width: 40px;
}

